/* ==========================================================================
   Fonts.
   ========================================================================== */
@font-face {
    font-family: "PTSerif";
    src: url("../fonts/ptf55f.eot");
    src: url("../fonts/ptf55f.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ptf55f.woff") format("woff"),
         url("../fonts/ptf55f.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PTSerif";
    src: url("../fonts/ptf75f.eot");
    src: url("../fonts/ptf75f.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ptf75f.woff") format("woff"),
         url("../fonts/ptf75f.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "PTSerif";
    src: url("../fonts/ptf56f.eot");
    src: url("../fonts/ptf56f.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ptf56f.woff") format("woff"),
         url("../fonts/ptf56f.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "PTSerif";
    src: url("../fonts/ptf76f.eot");
    src: url("../fonts/ptf76f.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ptf76f.woff") format("woff"),
         url("../fonts/ptf76f.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "SegoeUI";
    src: url("../fonts/SegoeUIRegular.eot");
    src: url("../fonts/SegoeUIRegular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/SegoeUIRegular.woff") format("woff"),
         url("../fonts/SegoeUIRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SegoeUI";
    src: url("../fonts/SegoeUILight.eot");
    src: url("../fonts/SegoeUILight.eot?#iefix") format("embedded-opentype"),
         url("../fonts/SegoeUILight.woff") format("woff"),
         url("../fonts/SegoeUILight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "SegoeUI";
    src: url("../fonts/SegoeUIBold.eot");
    src: url("../fonts/SegoeUIBold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/SegoeUIBold.woff") format("woff"),
         url("../fonts/SegoeUIBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: "bodoni-mt";
  src: url("../fonts/bodoni-mt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}



